@font-face {
    font-family: Inter;
    src: url('Inter-Regular.ttf');
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 14px;
    font-family: Inter;
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
}
@media (max-width: 1300px) {
    h3, p, #front_end_mentor, #github, #Instagram, #linkedin, #twitter {
        font-size: 2.4vh;
    }
}
#container {
    background: hsl(0, 0%, 12%);
    width: 70vh;
    height: 92vh;
    border-radius: 2vh;
}
#content {
    text-align: center;
    padding: 6%;
}
h3 {
    color: hsl(75, 94%, 57%);
    transition: ease-out;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}
h3:hover {
    cursor: pointer;
    color: hsl(75, 76%, 37%);
    transition: ease-in;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
#front_end_mentor, #github, #Instagram, #linkedin, #twitter {
    background: hsl(0, 0%, 20%);
    padding: 0.5vh;
    margin: 3%;
    border-radius: 10px;
    font-weight: 700;
    transition: ease-out;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
#front_end_mentor:hover, #github:hover, #Instagram:hover, #linkedin:hover, #twitter:hover {
    background: hsl(0, 1%, 31%);
    transition: ease-in;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}